*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bolder;
}
/*navbar*/
.navbar-header img{
	width: 50%;
	margin-top: 10px;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
  font-weight: bolder;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
/*header*/
.fondo{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../image/large.jpg) no-repeat bottom center scroll;
  background-color: black;
  background-size: cover;
  -o-background-size: cover;
}
.fondo .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.fondo .intro-body .brand-heading {
  font-size: 40px;
}
.fondo .intro-body .intro-text {
  font-weight: bolder;
  margin-top: 30px;
  font-size: 18px;
}

/*SECTION PRUEBA*/
.prueba{
	background: rgb(116,163,219);
	padding-bottom: 10px;
	color: rgb(255,255,255);
}
.prueba .btn-default{
	background-color: transparent;
  color: rgb(255,255,255);
  border-radius: 50px;
	border-color:rgb(255,255,255);
  padding-top: 5px;
  padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
}
.prueba .btn-default:hover{
	background-color: rgb(255,255,255);
	border-color:rgb(255,255,255);
  font-weight: bolder;
	color: rgb(78,126,184);
}
/*SECTION servcios*/
.icon{
	color: rgb(78,126,184);
	width: 130px;
	height: 130px;
	font-size: 60px;
  margin-top: 20%;
  margin-left:25%;
  margin-bottom:10%;
  box-shadow: 0px 0px 10px #2F4F4F;
  -moz-transition-duration:0.3s;
  border-radius: 100%;
  cursor: pointer;
}
.icon:hover{
  background: #F0FFF0;  
  box-shadow: 2px 3px 8px #2F4F4F;
}
.icon i{
	position: relative;
	top: 25px;
}
.servicios h3{
	color: rgb(104,180,255);
	margin-top: 50px;
}
.servicios h4{
	color: rgb(78,126,184);
	margin-bottom: 20px;
}
.servicios p{
	font-size: 18px;
}
.hr{
  position: relative;
  top: 70px;
  left: 30%;
}
/*SECTION main*/
.main{
  margin-top: 50px;
}
.main .logo{
  width: 50%;
}
.main h4{
    color: rgb(104,180,255);
}
.flecha .flecha{
  width: 20%;
  margin-top: 15px;
  margin-left:30%;
}
iframe{
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}
.col-xs-hidden .icons{
  color:transparent;
  display: inline-block;
}
.section h3,h5{
  color: rgb(104,180,255);
}
/*SECTION prueba1*/
.prueba1{
  background: rgb(116,163,219);
  padding-bottom: 10px;
  color: rgb(255,255,255);
}
.prueba1 .btn-default{
  background-color: transparent;
  color: rgb(255,255,255);
  border-radius: 50px;
  border-color:rgb(255,255,255);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
}
.prueba1 .btn-default:hover{
  background-color: rgb(255,255,255);
  border-color:rgb(255,255,255);
  font-weight: bolder;
  color: rgb(78,126,184);
}
/*footer*/
.footer{
  background: rgb(42,53,65);
  color: rgb(255,255,255);
}
.icons1 {
  font-size: 30px;
  display: inline-block;
  float: right;
  margin-left: 5px;
}

