
.b-parraf {
	font-size: 1.3em;
}
.d-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-white{
	color: #FFFFFF;
}
.text-celeste{
	color: #94C4FF;
}
.m-top{
	margin-top: 1em;
}
.espacio{
	padding-bottom: 5%;
}
.n-padding-r-l{
	padding-right: 0;
	padding-left: 0;
}
.bold{
	font-weight: bold;
}
.pd-l{
	padding-left: 3%;
}
/* -----HEADER--------*/
#bg-imagenheader {
	background: url(../image/large.jpg) no-repeat;
	background-size: 100%;
	background-size: cover;

}
.hero {
	background-color: rgba(93,101,107,0.7);
}
.logo img{
	width: 70%;
}
header .navbar{
	background-color: transparent;
	border: none;
	padding: 0.3%;
}
.navbar #bs-example-navbar-collapse-1 .list{
	color: #FFFFFF;
	font-size: 1.3em;
}
.navbar #bs-example-navbar-collapse-1 .list:hover{
	background-color: rgba(61,122,209,0.8);
}
.title {
	color: white;
	font-size: 4em;
	font-weight: 500;
	padding: 10% 10% 2% 10%;
}
.test-free {
	background-color: rgba(61,122,209,0.8);
	color: white;
	padding: 3% 0;
}
.hero-content{
	padding: 10% 0%;
}
.button{
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 2em;
	padding: 2% 3%;
	margin: 5% 0%;
}
.button:hover{
	background-color: #2A3541;
}
/*--------SERVICIOS----------*/
.servicios{
	padding: 5% 0%;
}
.icon-serv{
	background-color: #FFFFFF;
	border-radius: 50%;
	border: none;
	box-shadow: -2px 2px 6px #DBDBDB;
	padding: 15%;
}
.icon{
	font-size: 3em;
	font-weight: 600;
}
.tipos-servicios{
	padding: 10% 15%;
}

/*--------SEPARADOR----------*/

#linea .hr-line {
	border: 1px solid #F2F3F3;
	width: 100%;
	margin: 0 !important;
	position: absolute;
}
.arrow {
	position: relative;
	top: -50px;
}

/*--------EJEMPLOS----------*/
.funcion{
	position: relative;
}
.logo-ejemplos{
	width: 90%;
}
.ejemplo{
	font-size: 2.5em;
}
.ejemplos-content{
	padding-left: 10%;
}
.no-margin-t-b{
	margin-bottom: 0;
	margin-top: 0;
}
.imgfuncion{
	background: url(../image/sec-2.jpg) no-repeat;
	background-size: 100%;
	background-size: cover;
	min-height: 400px;
}
.opacar{
	background-color: rgba(93,101,107,0.7);
	min-height: inherit;
}

.no-margin{
	padding-left: 0;
	padding-right: 0;
}
.icon-center{
	background-color: #50BDEA;
	font-size: 1.5em;
	color: #FFFFFF;
	border-radius: 50%;
	padding: 1em;
	position:absolute;
	margin: 2%;
}
.z-index1{
	position: absolute;
	left: 45%;
	top: 5%;
	z-index: 1;
}
.z-index2{
	position: absolute;
	left: 45%;
	top: 30%;
	z-index: 2;
}
.z-index3{
	position: absolute;
	left: 45%;
	top: 55%;
	z-index: 2;
}
/*--------USABILIDAD----------*/
.logo-razones{
	width: 90%;
}
.razones{
	font-size: 2.5em;
}
.razones-content{
	padding-left: 10%;
}
.banner{
	width: 100%;
}
/*--------FOOTER----------*/
.text-footer{
	background-color: #2A3541;
	padding: 2% 0%;
}
.redescontact{
	text-align: right;
}
.redes{
	font-size: 2.5em;
	margin: 2%;
	display: inline-block;
}
.redes:hover{
	color: #D9534F;
	transition: all 0.8s ease;
}
/*--------LETRAS RESPON0IVE----------*/

@media (max-width: 1024px){
	body{
	font-size: 16px;
	}
	.noneicon{
		display: none;
	}
}
@media (max-width: 982px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 768px){
	body{
	font-size: 14px;
	}
}

@media (max-width: 640px){
	body{
	font-size: 12px;
	}
	.title {
	font-size: 2.5em;
	}
	.none{
		display: none;
	}
	footer{
		text-align: center;
	}
	.redescontact{
		text-align: center;
	}
	.middle{
		text-align: center;
	}
}
