/*navbar*/

@media (min-width: 768px) {
  .navbar-header img{
	   width: 100%;
   }
  .navbar-custom {
    border-bottom: none;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
/*fondo*/
@media (min-width: 768px) {
  .fondo{
   	height: 700px;
   }
  .fondo .intro-body .brand-heading {
    font-size: 100px;
  }
  .fondo .intro-body .intro-text {
  	font-weight: bolder;
    font-size: 26px;
  }
}
/*prueba*/
@media (min-width: 768px) {
	.prueba{
	  margin-top: -96px;
	  background: rgba(116,163,219.3);
	}
	.prueba .btn-default{
	  margin-top: 30px;
	  margin-left: -120px;
	}
}
/*SECTION servcios*/
@media (min-width: 660px) {
  .icon{
	  margin-left: 40%;
  }
  .hr{
    position: relative;
    left: 45%;
}
/*SECTION row*/
@media (min-width: 768px) {
#img-responsive img{
    margin-top: -19px;
    margin-bottom: -120px;
    height: 600px;
}
.icons{
  background: rgb(88,165,255);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-top: 60px;
  position: relative;
  left: -56px;
}
.icons i{
  color: rgb(255,255,255);
  font-size: 50px;
  position: relative;
  left: 13px;
  top: 15px;
}
.paso{
  margin-top: 30px;
}
/*prueba1*/
@media (min-width: 768px) {
  .prueba1 .btn-default{
    margin-top: 30px;
    margin-left: -120px;
  }
}
/*footer*/
.icons1{
  margin-top: 10px;
}
.p1{
  margin-top: 10px;
}
.p{
  margin-top: 60px;
  margin-left: 57%;
}